@*@{
        ViewBag.Title = "CreateScore";
        Layout = "~/Views/Shared/_LayoutGiaoVien(txs).cshtml";
    }

    @model WebApplication1.Models.Score

    <h2>Thêm điểm</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>điểm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.StudentId)
        @Html.HiddenFor(model => model.ClassId)


        <div class="form-group">
            @Html.LabelFor(model => model.SubjectTC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubjectTC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubjectTC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Score15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Score15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Score15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Score60, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Score60, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Score60, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiuaKi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiuaKi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiuaKi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuoiKi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CuoiKi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CuoiKi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TongKet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongKet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TongKet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "ChiTietDiemGV", new { studentId = ViewBag.StudentId, classId = ViewBag.ClassId })
    </div>*@

@model WebApplication1.Models.Score

@{
    ViewBag.Title = "Thêm Điểm Mới";
    //lLayout = "~/Views/Shared/_LayoutGiaoVien.cshtml";
}

<h2>Thêm Điểm Mới</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)
    @Html.HiddenFor(model => model.ClassId)

    <div class="form-group">
        @Html.LabelFor(model => model.SubjectTC)
        @Html.TextBoxFor(model => model.SubjectTC, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SubjectTC)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Score15)
        @Html.TextBoxFor(model => model.Score15, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Score15)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Score60)
        @Html.TextBoxFor(model => model.Score60, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Score60)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiuaKi)
        @Html.TextBoxFor(model => model.GiuaKi, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.GiuaKi)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CuoiKi)
        @Html.TextBoxFor(model => model.CuoiKi, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CuoiKi)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TongKet)
        @Html.TextBoxFor(model => model.TongKet, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TongKet)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Semester)
        @Html.TextBoxFor(model => model.Semester, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Semester)
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
}

<div>
    @Html.ActionLink("Quay lại", "ChiTietDiemGV", new { studentId = ViewBag.StudentId, classId = ViewBag.ClassId })
</div>
